# ignore these individual files in root directory
Git&GitHub CrashCourse TimeStamps.txt
next-gen-js-summary.pdf

# ignore all folders of .vscode type (project workspace config folder)
.vscode/

# ignore node_modules folder (react project config folder)
node_modules/

# ignore all project specific JSON dependency files
**/ReactBeginnerProject2/*.json

# ignore all files with json extension
*.json

.DS_Store

# ignore backup project
FoodOrderApp-backup/